body {
  background-color: #B9DDE8;
  font-family: sans-serif;
  margin: 0;
}

.jumbotron {
  background-color: #EFE9BA;
  text-align: center;
  padding: 3%;
  margin-bottom: 3%;
}

.about {
  background-color: #7DAF7C;
  float: left;
  padding: 2%;
}

.about h3 {
  color: #FFE1A9;
}

.about p {
  color: white;
}

.game {
  display: inline-block;
  margin: 3%;
}

.game label {
  font-weight: bold;
